bentoml==1.4.15
fastapi==0.115.12
uvicorn==0.34.3
prometheus_fastapi_instrumentator==7.1.0
GPUtil==1.4.0
mlflow==2.22.0
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1+cu128
torchvision==0.22.1+cu128
torchaudio==2.7.1+cu128
